<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-heroes></app-heroes>
  <h2>List of birds from .json file</h2>
  <table *ngIf="arrBirds">
      <!-- ADD HEADERS -->
      <tr>
          <th>ID</th>
              <th>Name of Bird</th>
                  <th>Type of Bird</th>
      </tr>
  
      <!-- BIND ARRAY TO TABLE -->
      <tr *ngFor="let bird of arrBirds">
          <td>{{bird.ID}}</td>
              <td>{{bird.Name}}</td>
                  <td>{{bird.Type}}</td>
      </tr>
  </table>
<router-outlet></router-outlet>

